@import url("style.css");

/**--- Variables ---**/

:root {
  --font-family: 'Source Sans Pro', serif;
  --color-white: #ffffff;
  --color-dark: #252525;
  --color-purple: #c271ff;
  --color-grey: #979797;
}

/**--- Fonts ---**/



/**--- Base ---**/

body {
  font-family: var(--font-family);
}

/**--- Background ---**/

.homepage {
  background-image: url('images/pic_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
}

.pricing {
  background-image: url('images/pic_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
}

.courses {
  background-image: url('images/pic_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
}

.purple {
  color: var(--color-purple);
}

/**--- Buttons ---**/

.btn, .btn:hover, .btn:focus {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}
.btn:hover, .btn-focus {
  opacity: 0.9;
}
.btn-shadow {
  box-shadow: 0 0 10px 5px rgba(56, 56, 56, 0.813);
}

/**--- NavLinks ---**/

li a:hover, li a:focus {
  color: var(--color-purple) !important;
  text-decoration: none;
}

/**a navbarLinks {
  color: var(--color-white);
  background-color: none;
  border-color: none;
  border-bottom: 3px solid white;
}**/

.navbar-toggler {
  font-size: 2.25rem;
  top: 3rem;
}

/**--- Carousels ---**/

.purple-bg {
  background-color: var(--color-purple) !important;
}

.carousel-avatar {
  margin-top: 2rem;
}

.phone {
  display: block;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.leftArrow:before {
  content: "\e903";
  font-size: 8rem;
}

.rightArrow:before {
  content: "\e902";
  font-size: 8rem;
}

.leftArrowVideo:before {
  content: '\e903';
  font-size: 8rem;
  color: black;
}

.rightArrowVideo:before {
  content: '\e902';
  font-size: 8rem;
  color: black;
}

.pl-6 {
  padding-left: 3.5rem;
  padding-right: 3rem;
}

.mins {
  padding-left: 5rem;
}

.videoLeft {
  top: 8.5rem;
  padding-right: 1rem;
  padding-left: auto;
}

.videoRight {
  top: 8.5rem;
  padding-left: 1rem;
  padding-right: auto;
}

.search {
  color: white;
  font-size: 1.75rem;
  opacity: .8;
}

::placeholder {
  color: lightgrey;
  font-size: 1.75rem;
  opacity: .6;
}

.play {
  height: 125px;
  width: 125px;
}

.card-img-overlay {
  width: 5rem;
  height: 5rem;
}
/**--- Membership ---**/

.bg-dark {
  color: var(--color-dark) !important;
}

/**--- Footer ---**/

.fb-icon:before {
  font-family: 'holberton_school-icon';
  content: "\e908";
  color: var(--color-white);
}

.twitter-icon:before {
  font-family: 'holberton_school-icon';
  content: "\e90f";
  color: var(--color-white);
}

.insta-icon:before {
  font-family: 'holberton_school-icon';
  content: "\e90a";
  color: var(--color-white);
}

.search:before {
  font-family: 'holberton_school-icon';
  content: "\e912";
  color: var(--color-dark);
}

/**--- Pricing Grid ---**/

.second-row p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.third-row p {
  font-size: 1.5rem;
}

.table {
  max-width: 1110px;
}

.signal {
  width: 8.8rem;
  height: 3.5rem;
}

.holberton_school-icon-check {
  font-size: 36px;
  padding-top: 1.28rem;
}

/**--- FAQs ---**/

.faq h1 {
  font-size: 6rem;
  font-weight: lighter;
  padding-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.faq-question .p1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.faq-question .p2 {
  font-size: 1rem;
  line-height: 2rem;
}

/**--- Courses ---**/

.coiny {
  font-family: 'Coiny', cursive;
}
